<% include partials/header%>

<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="campsite name">
    <input type="text" name="imgurl" placeholder="campsite url">
    <button >submit</button>
</form>

<% include partials/footer%>