<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
    </head>
    <body>

    <div class="ui  pointing inverted menu">
        <a class="item">
            Blog Site
        </a>
        <a class="item active">
            home
        </a>
        <a class="item">
          New Post
        </a>
        <div class="right menu">
            <a class="ui item">
            Logout
            </a>
        </div>
        </div>
        <div class="ui segment">
        <p></p>
</div>
