<% include partials/header%>

<%# <form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="campsite name">
    <input type="text" name="imgurl" placeholder="campsite url">
    <button >submit</button>
</form> %>

<div class="container">
    <form action="/campgrounds" method="post">
  <div class="form-group">
    <label >campsite name</label>
    <input type="text" name="name" class="form-control" placeholder="Enter name">
  </div>

   <div class="form-group">
    <label >url</label>
    <input type="text" name="imgurl" class="form-control" placeholder="Enter url">
  </div>
 
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<% include partials/footer%>