<% include partials/header%>

<div class="container">
    <p>this is the show page!!</p>
</div>

<div class="container">
    <p><%= campgrounds.name %></p>
    <img src="<%=campgrounds.imgurl%>" alt="">
    <p><%= campgrounds.description %></p>
</div>


<% include partials/footer%>