<% include partials/header%>

<ol>
<h1>Movie list</h1>
<% movies.forEach((list)=>{ %>
    <li>name: <%=list.name%> company: <%=list.company%></li>
  
<% })%>
<li><li>
</ol>

<% include partials/footer%>