<% include ./partials/header%>
<div class="container text-center border border-light p-5">
    <div class="jumbotron jumbotron-fluid">
<div class= "container">
<h3 >Add New Post</h3>
  <form action="/blogs" method="post">
        <div class="form-group">
        <input class="form-control" type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="blog[image]" placeholder="image url">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="blog[body]" placeholder="description">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>  
        </div>     
        </form>
</div>
</div>
</div>


<% include ./partials/footer%>