<% include ./partials/header%>

<div class="container">
   <div class="card mb-3">
    <img src="<%= blogs.image%>" class="card-img-top" alt="image here">
    <div class="card-body">
        <h5 class="card-title"><%= blogs.title%></h5>
        <p class="card-text"><%= blogs.body%></p>
        <p class="card-text"><small class="text-muted"><%= blogs.created%></small></p>
    </div>
</div> 
</div>
 


<% include ./partials/footer%>